body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-bb05ed79.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
main {
    color: limegreen;
    font-family: "Agency FB";
}
nav a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:link:active {
    color: red;
}

