body {
    background-color: steelblue;
}

nav {
    text-align: left;
}

main {
    text-align: center;
}

div.picture-holder {
    width: 200px;
    height: 200px;
    float: left;
    border: solid 1px black;
    box-sizing: border-box;
    background-image: none;
}

#pics {
    width: 800px;
    height: 400px;
    border: solid 1px black;
    font-size: 0;
    margin: auto;
}

main .roshni {
    text-align: left;
}

main .aura {
    text-align: right;
}

main .beurt {
    text-align: center;
}
